@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-primary text-primary p-4;
  }

  body {
    @apply flex flex-col font-space-grotesk;
  }

  ::-webkit-scrollbar {
    height: theme('spacing[2]');
  }

  ::-webkit-scrollbar-track {
    background: theme('backgroundColor.secondary');
  }

  ::-webkit-scrollbar-thumb {
    border-radius: theme('borderRadius.full');
    background: theme('backgroundColor.tertiary');
  }

  form {
    @apply flex flex-col gap-4;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .list-gradient-left {
    background: linear-gradient(
      to left,
      transparent,
      transparent 95%,
      theme('backgroundColor.secondary')
    );
  }

  .list-gradient-right {
    background: linear-gradient(
      to right,
      transparent,
      transparent 95%,
      theme('backgroundColor.secondary')
    );
  }
}

:root {
  --background-primary: white;
  --background-secondary: #e0e2ea;
  --background-tertiary: #c7c9d9;

  --text-primary: #000000;
  --text-secondary: #9d9d9d;
  --text-primary-invert: #ffffff;
  --text-secondary-invert: #c7c7c7;
  --text-destructive: #dc2626;

  --accent: #ffff00;
  --accent-variant: #00d2d2;

  --border-primary: #000000;
  --border-secondary: #a8a8a8;
  --border-destructive: #dc2626;
}

.dark {
  --background-primary: black;
  --background-secondary: #1a1b1f;
  --background-tertiary: #2d3034;

  --text-primary: #f1f1f1;
  --text-secondary: #a1a1a1;
  --text-primary-invert: black;
  --text-secondary-invert: #646464;
  --text-destructive: #f87171;

  --accent: #ffff00;
  --accent-variant: #00ffff;

  --border-primary: #f1f1f1;
  --border-secondary: #a1a1a1;
  --border-destructive: #f87171;
}
